<!doctype html>
<html>
    <head>
        <title>Home page</title>
    </head>
    <body>
        <h1>Mines sans voiture système de prêt</h1>
        <p>Veuillez renseigner votre nom, prénom ainsi que la date de la location du vélo.</p>
    </body>

{% block content %}
<form action="#" method="post">
	<p>Nom:</p>
	<p><input type="text" name="nm" /></p>
	<p>Prénom:</p>
	<p><input type="text" name="pm" /></p>
    <p>Date jj/mm/aaaa:</p>
	<p><input type="text" name="dt" /></p>
	<p><input type="submit" value="envoyer"/></p>
</form>


{% endblock %}
</html>